body {
  font-family: 'Itim', cursive;
  font-size: 25px;
  color: rgb(0, 0, 0);
  background: url(../img/cropped-1920-1080-1022126.jpg) no-repeat;
}

@media screen and (max-width: 900px) {
  body {
    margin: auto;
    background: none;
  }

  /*page0
======================================*/
  .imgfloat-left,
  footer {
    display: none;
  }

  .header {
    display: none;
  }

  .imggame {
    margin-left: 15%;
  }

  #service {
    background-image: none;
  }

  /*page1
  ======================================*/
  .sign-up {

    box-shadow: 10px 0px #2a2a2a;
    margin-bottom: 25%;
  }

}

/*navbar header
======================================*/

.topnav {
  overflow: hidden;
  background-color: transparent;
}

.topnav a {
  float: right;
  display: block;
  color: #720d0d;
  text-align: center;
  padding: 25px 30px;
  font-size: 20px;
  text-decoration: none;
  transform: translateZ(0);
  transition-duration: .3s;
  transition-property: transform;
}

.topnav a::before {
  pointer-events: none;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}


.topnav a:hover,
.topnav a.active,
.topnav a:focus {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px black;
  color: #720d0d;
  background-color: #2a2a2a;
}

.topnav a:hover:before,
.topnav a:active:before,
.topnav a:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 900px) {

  .topnav {
    background-color: rgb(46, 46, 46);
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    white-space: nowrap;
  }
}

.login {
  margin-left: 50px;
  float: left;
}

.btnin {
  margin-left: 100px;
  font-weight: bold;
}

/*page0
============================================================================*/


/*header
======================================*/
.titreheader {
  font-size: 80;
  margin: 80px 0px 50px 40px;
}

.textheader {
  color: white;
  font-size: 30px;
  margin: 30px 0px 20px 0px;
}

.bandegreen {
  margin: 0px 0px 0px 150px;
  background-color: #720d0d;
  width: 120px;
}

.btnfree {
  color: #000000;
  background-color: #720d0d;
  margin: 50px;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  transform: scale(1);
  transition-duration: 1000ms;
}

.btnfree:hover {
  background: none;
  color: #720d0d;
  text-decoration: none;
  transform: scale(1.15);
  transition: 400ms
}

.block {
  width: 1500px;
}

.block p {
  margin-top: 20px;
  font-size: 60%;

}

.header {
  margin: 50px 200px 0px 200px;
  background-image: url(../img/header.jpg);
  height: 500px;
  border-radius: 20px;
  color: antiquewhite;
}

.logoheader {
  float: left;
}

h2 {
  text-transform: uppercase;
}

/*section
======================================*/

.sectionp1 {
  background-color: #720d0d;
}

.sectionp1 .row {
  margin-top: 50px;
}

.txtgame {
  color: #000000;
  margin: 25px 0px 25px 35%;
  transform: scale(1);
  transition-duration: 600ms;
  margin-bottom: 100px;

}

.txtgame:hover {
  transform: scale(1.15);
  transition-duration: 600ms;
  color: #000000;
  text-decoration: none;
}

.imggame {
  border-radius: 10px;
  box-shadow: 0px 10px 20px black;
}

.imggame:hover {
  border-radius: 20px;
}

.aloy {
  background: url(../img/aloyb.jpg) no-repeat left #2a2a2a;
  height: 800px;
}

.offre {
  background-color: white;
  font-size: 70%;
  height: 500px;
  margin-top: 200px;
  border-radius: 10px;
  box-shadow: -10px 25px 25px #720d0d;
  transition-duration: 300ms;
}

.offre:hover {
  transform: translateY(10px);
  transition-duration: 300ms;
}

.btnoffre {
  color: #2a2a2a;
  margin: 0px 0px 500px 0px;
  padding: 20px 70px 20px 70px;
  text-transform: uppercase;
  background-color: #720d0d;
  border-radius: 10px;
  transition-duration: 400ms;
}

.btnoffre:hover {
  color: white;
  text-decoration: none;
  border-radius: 35px;
  box-shadow: 0px 10px 60px #2a2a2a;
  transition-duration: 400ms;
}

.offre strong {
  margin-left: 200px;
}

.offre span {
  color: #720d0d;
}

.offre h3 {
  margin-top: 50px;
}


.liste-offre {
  margin-bottom: 50px;
  list-style-image: url("https://img.icons8.com/material-rounded/24/000000/circled-chevron-right.png")
}

.liste-offre li {
  margin-top: 25px;
}


/*footer
======================================*/
footer {
  background-color: #2a2a2a;
  height: 80px;
  
}

.btn-footer-right {
  float: right;
  color: white;
  font-size: 15px;
  margin-left: 100px;
}

.btn-footer {
  font-size: 15px;
  color: #ffffff;
  margin-left: 25px;
  border-left: 2px solid #ffffff;
  padding-left: 10px;
}

.btn-footer:hover,
.btn-footer-right:hover {
  color: white;
  text-decoration: none;
}

/*page1
============================================================================*/
/*formulaire connexion
======================================*/
#page1 {
  background-image: url(../img/backgroundsign.jpg);
}

.title {
  font-size: 150%;
  text-transform: uppercase;
}

.sign {
  margin-bottom: 20%;
  margin-top: 15%;
  text-align: center;
  background: none;
}

.sign-up {
  border-radius: 10px;
  box-shadow: 10px 2px 10px #2a2a2a;
}

.form {
  padding-top: 15px;
  background-color: #720d0d;
  border-radius: 10px;
}

.btnsign-in,
.btnsign-up {
  color: #720d0d;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  background-color: #2a2a2a;
  margin: 15px 0px 15px 0px;
  padding: 10px 40px 10px 40px;
  transition-duration: 400ms;
}

.btnsign-in:hover,
.btnsign-up:hover {
  color: #2a2a2a;
  background-color: #720d0d;
  transition-duration: 400ms;
}



/*page2
============================================================================*/
#page2 {
  background-image: none;
  background: url(../img/backgroudpage2.jpg) fixed;
}

.offrep2 {
  border-radius: 10px;
  background-color: #ffffff;
}

.bandepage2 {
  background: none;
  height: 800px;
}

.btnachatp,
.btnachatc {
  color: #000000;
  text-decoration: none;
  background-color: #720d0d;
  padding: 25px;
  border-radius: 10px;
  transition-duration: 400ms;
}

.btnachatc {
  margin-top: 200px;
}


.btnachatp:hover,
.btnachatc:hover {
  text-decoration: none;
  font-size: 110%;
  color: #720d0d;
  background-color: white;
  transition-duration: 400ms;
}

/*page3
============================================================================*/
#page3 {
  color: antiquewhite;
  background-image: none;
  background: url(../img/backgroudpage3.jpg) fixed no-repeat;
}

.jeux .container {
  border-radius: 10px;
  background: #720d0d;
}

.jeux strong {
  color: #720d0d;
}

.jeux h4,
p,
h1 {
  text-align: center;
}

.jeux h1 {
  font-size: 250%;
  margin-bottom: 50px;
}

.jeux h4 {
  font-size: 120%;
}

.jeux p {
  margin-top: 15px;
  font-size: 70%;
}
/*Admin
============================================================================*/
#admin{
  background-image: none;
  font-size: 20px;
}

.admin{
  margin-bottom: 600px;
  margin-top: 100px;
}

label{
  margin-top: 25px;
}


.btn-ajouter{
  margin-top: 52px;
  border: none;
  padding: 20px;
  box-shadow: 0px 0px 5px black;
  border-radius: 25px;

}

#prix-game{
  margin-bottom: 50px;
}

.imgajout {
  padding: 10px;
  border-radius: 10px;
  color: #000000;
  box-shadow: 0px 0px 5px black;
}

.imgajout:hover{
  text-decoration: none;
  transition-duration: 300ms;
}

.btn-admin{
  border-radius: 10px;
  box-shadow: 0px 2px 2px black;
  font-size: 140%;
  background: none;
  border: none;
}

/*tableau comptes
===========================================*/
.game{
  margin-bottom: 30px;
}

.modal-dialog{
  font-size: 120%;
}

td button{
  color: #ffffff;
  border-radius: 10px;
  margin-left: 25px;
  border: none;
  background: #2a2a2a;
  transition-duration: 400ms;
}

td button:hover{
  background-color: #ffffff;
  color: #720d0d;
  box-shadow: 0px 2px 2px black;
  transition-duration: 400ms;
}